@import "../../variables";

.overlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  background-color: $task-highlight;
  border-radius: 8px;
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  .title {
    margin: 0;
    font-weight: 500;
    color: $description-test-color$tasks-test-color;
    @include rubik(15px, 500);
  }

  .description {
    padding: 5px;
    margin: 10px 0 20px;
    color: $description-test-color;
    @include rubik(15px, 500);
    line-height: 1.5;
  }
}

.root {
  width: 260px;

  .field {
    display: grid;
    margin-bottom: 10px;

    .label {
      font-size: 15px;
      font-weight: 500;
      line-height: 35px;
      color: $description-test-color;
    }

    .message {
      font-size: 13px;
      color: $description-test-color;
      opacity: 0.8;
    }

    .input,
    .textarea {
      all: unset;
      box-sizing: border-box;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      font-size: 15px;
      color: $description-test-color;
      background-color: var(--black-a2);
      box-shadow: 0 0 0 1px var(--black-a6);

      &:hover {
        box-shadow: 0 0 0 1px $description-test-color;
      }

      &:focus {
        border: $checkbox-background 1px solid;
      }

      &::selection {
        background-color: var(--black-a6);
        color: $description-test-color;
      }
    }

    .input {
      padding: 0 10px;
      height: 35px;
      line-height: 1;
    }

    .textarea {
      resize: none;
      padding: 10px;
    }
  }
}

.buttonsContainer {
  display: "flex";
  gap: 10;
}

.button {
  box-sizing: border-box;
  padding: 4px;

  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: #ffffff, $alpha: 0);
  border: none;

  &:hover:not(:disabled) {
    background-color: $icon-hover;
  }

  &:focus {
    box-shadow: 0 0 0 2px $icon-hover;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.buttonWithWord {
  padding: 15px;
}

.buttonWithWord:not(:disabled) {
  cursor: pointer;
  margin-top: 20px;
  background-color: $task-highlight;
  border: $input-border;
  border-radius: 8px;
}

.fieldset {
  all: unset;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;

  .label {
    font-size: 15px;
    color: var(--violet-11);
    width: 90px;
    text-align: right;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
